body{
    background-color: beige;
}

img{
    width: 200px;  /* Ancho de la imagen*/
    height: 200px; /* Alto de la imagen*/
}

img:hover{
    background-color: aquamarine; /*Sombrear el logo*/ /*tr para las filas*/
}
